/*
Hover color : #a562c1
Main Color: #8e44ad
*/

/*
Logo Color: #27ae60
*/

/*****
Basic Styling
*****/

.Landing-Main {
	/*background-color: #8e44ad;*/
	background-color: #66317c;
	width: 100%;
	height: 350px;
}

.Landing-Main-logo {
	font-family: 'Titillium Web', sans-serif;
	color: #f6f6f6;
	/*color: #36d278;*/
	font-size: 70px;
}

.Landing-Main-message {
	color: #f6f6f6;
	width: 60%;
	text-align: center;
	margin-top: 10px;
	font-size: 20px;
}

.Landing-Main-Button .btn {
	cursor: pointer;
	margin-top: 400px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 16px;
	width: 140px;
	height: 40px;
	background-color: #27ae60;
	color: #f6f6f6;
	border: 0px;
	border-radius: 15px;
}

.Landing-Main-Button .btn:hover {
	color: #fff;
	background-color: #219251;
	border: 1px solid #acacac;
	transition: background-color 0.5s;
}

/*****
Layout
*****/

.Landing-Main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 800px) {
	.Landing-Main-logo {
		font-size: 50px;
	}
}
