::selection {
	background: $algae-green;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	// border: 1px solid rgba(86, 15, 103, 0.5) !important;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: $dusty-grey;
	text-decoration: none;
	cursor: pointer;
}
