// Settings - Metrics
// =================
// This holds numbers for things like default margins, paddings, border-radius,
// etc.

$margin: 0;
$padding: 0;

$max-width: 1140px;

$padding-small: 25px 0;
$padding-medium: 30px 0;
$padding-large: 60px 0;
$padding-xl: 80px 0;

$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-xl: 20px;

$line-height-medium: 1.5;

$font-weight-ultra-light: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
