/*****
Signin Basic Styling
*****/

.Signin-Component {
	margin-top: 1rem;
}

.Signin-header {
	font-size: 2.2rem;
	margin-bottom: 1rem;
}

/*****
SignIn Layout
*****/
.Signin-Component {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
