.projectlist {
	.projectsCollection {
		margin: 0 10%;
		padding: 0.5rem 1rem;
	}
}

/*
Project List Styling
*/

.projectlist-Header {
	font-weight: 300;
	background: #e96443; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#e96443,
		#904e95
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#e96443,
		#904e95
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	font-size: 2rem;
	color: #fff;
	padding: 0 10rem;
}

.projectlist-item {
	margin-top: 3%;
	font-size: 0.7rem;
}

.projectlist-item-title h1 a {
	color: rgba(4, 4, 4, 0.86);
	font-weight: bold;
}

.projectlist-item-title h1 a:hover {
	color: #219251;
}

.projectlist-item-author {
	font-style: italic;
	color: #8e44ad;
}

.projectlist-item-createdOn {
	font-size: 0.625rem;
	color: #b4b4b4;
}
