.projectDetail {
	margin: 0 10%;
	padding: 0.5rem 1rem;
}

.projectDetail-backButton {
	color: #219251;
	font-size: 1.5rem;
	margin-bottom: 0.625rem;
}

.projectDetail-author {
	margin-bottom: 0.625rem;
	font-style: italic;
}

.project-Comments {
	margin-top: 5%;
}
