// Styling
.projectDetail-Content {
	.projectDetail-ProjectMember {
		background: rgba(#8e44ad, 0.77);
		color: #fff;
		padding-top: 0.5rem;
		padding-left: 1rem;
		border-top-left-radius: 0.625rem;
		border-bottom-right-radius: 0.625rem;
	}
}

// Layout
.projectDetail {
	background: rgba(169, 62, 244, 0.03);
	margin: 1rem 10%;
	padding: 0.5rem 1rem;

	.projectDetail-ProjectMember {
		margin-bottom: 1rem;
	}

	.projectDetail-Content {
		display: flex;
		flex-direction: column;
	}
}

.projectDetail-backButton {
	color: #219251;
	font-size: 1.5rem;
	margin-bottom: 0.625rem;
}

.projectDetail-author {
	margin-bottom: 0.625rem;
	font-style: italic;
}

.project-Comments {
	margin-top: 5%;
}
