/*
Global Stying 
*/

::selection {
	background: #89e5b0;
}

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif:300,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600');

/*
Hover color : #a562c1
Main Color: #8e44ad
*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Open Sans', 'Lato', sans-serif;
	line-height: 1.5;
	font-size: 1rem;
	color: #373a3c;
	background-color: #fffff5;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: #9c9c9c;
	text-decoration: none;
	font-weight: 400;
}

/*
App Layout Styling
*/

.container {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.Main-body {
	flex: 1;
}
